@use '../abstracts' as *;

body {
	position: relative;
	background-color: $veryDarkBlue;
	@include flexCntr(center, center, column);

	h1,
	button {
		color: $white;
	}

	p {
		color: $lightGrey;
	}

	span {
		color: $mediumGrey;
	}

	.attribution {
		position: absolute;
		bottom: 1rem;

		p {
			color: $white;

			a {
				color: $lightGrey;
				text-decoration: none;
			}
		}
	}
}
