// primary

$orange: hsl(25, 97%, 53%);

// neutral

$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(212, 15%, 23%);
$veryDarkBlue: hsl(216, 12%, 8%);

$grBg: linear-gradient(
	90deg,
	rgba(18, 20, 23, 1) 41%,
	rgba(50, 58, 67, 1) 100%
);
